@font-face {
  font-family: "Stretch Pro";
  src: url("./assets/tipografia/StretchPro.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Akira Expanded";
  src: url("./assets/tipografia/Akira\ Expanded\ Demo.otf");

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("./img/arena-natural-fondo-playa\ \(1\)exportada.jpg");
  font-family: 'Akira Expanded';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.wrapper {
  max-width: 1440px;

  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: center;
align-items: center;
}
.hojas-arriba {
  position: absolute;
  width: 100%;
  transform: scaleX(-1);
  top: -10px;
  max-width: 370px;
  left:0;
  right: 0;
}
.logo-positive {
  opacity: .9;
  padding: 20px;
  max-width: 250px;
  position: absolute;
  z-index: 99999;
  left: 65px;
  bottom: 10px;

  filter: drop-shadow(0 0 10px black);
}

.tittle {
  margin-bottom: 20px;
  margin-top: 80px;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-family: "Stretch Pro"; 
  text-shadow: 2px 1px 20px rgba(187, 128, 52, 0.76);
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}
.hoja-position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.items {
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1000;
}
.items ul {
  text-align: center;
  list-style: none;
}
.items ul li {
  text-shadow: 2px 1px 20px rgba(145, 98, 36, 0.76);
  margin-bottom: 0.35rem;
  font-size: 0.7rem;
  font-weight: 900;
  
}
.items .subtittle {
  font-size: 1.2rem;
  text-shadow: 2px 1px 20px rgba(145, 98, 36, 0.76);
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 800;
  font-family: "Stretch Pro"; 
  

}
.items ul li.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 5px;
  gap:20px;
  
}

.items ul li.row p:first-child{
    text-align: start;
    
}
footer{
  height: 180px;
  margin-top: 20px;
  overflow: hidden;
}
.img-container {
  position: relative;
  min-width: 1px;
}
.img-hojas {
    top:0;
    position: absolute;
    max-width: 375px;
}
.hojas-container{
  position: relative;
  width: 100%;
  display: block;
  height: 180px;
}
img.hojas-position-entera {
  position: absolute;
  width: 100%;
  transform: scaleX(-1);
  bottom: -5px;
  max-width: 370px;
  left:0;
  margin-top: 50%;
  right: 0;
}
img.hojas-position-derecha {
  position: absolute;
  right: 0px;
  height:auto;
  max-height: 176px;
  max-width: 180px;
}

.camaleon-position {
  position: absolute;
/*   transform: scaleX(-1); */
  max-width: 300px;
  bottom: -0px;
left: 120px;
  z-index: 999;
}
